## 📌 Required environment variables

NIXIE_HOST=192.168.5.108

## 💡 Optional environment variables

# 🔘 one of: development, production
NODE_ENV=development

MQTT_URL=mqtt://localhost:1883
MQTT_USER=
MQTT_PASS=

POLL_INTERVAL=10

# 🔘 one of: debug, info, warn, error
LOG_LEVEL=info
